{% extends "accounts/basic_information.html" %}

{% block page_title %}
<title>Change Password</title>
{% endblock %}

{% block content%}

<aside class="setting-types" data-aos="fade-right">
    <a href='{% url "account:basicInformation" %}' class="option"><span>Basic information</span> </a>
    <a href='{% url "account:changePassword" %}' class="option" id="viewed"><span>Reset password</span> </a>
    <a href='{% url "account:deleteAccount" %}' class="option"><span>Delete account</span> </a>

</aside>

<main class="change-password">
    <div class="change-password-child">
        <form action="" method="POST">
            {% csrf_token %}
           
            {% for message in messages%}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
            {% endfor %}

            <label for="id_old_password">{{form.old_password.label}}</label>
            {% if form.old_password.errors %}
				<span class="class-error-ancre" style="display: none;"></span>
			{% endif %}
            {{form.old_password}} <br>
            {{form.old_password.errors}}

            <label for="id_new_password1">{{form.new_password1.label}}</label>
            {% if form.new_password1.errors %}
				<span class="class-error-ancre" style="display: none;"></span>
			{% endif %}
            {{form.new_password1}} <br>
            {{form.new_password1.errors}}

            <label for="id_new_password2">{{form.new_password2.label}}</label>
            {% if form.new_password2.errors %}
				<span class="class-error-ancre" style="display: none;"></span>
			{% endif %}
            {{form.new_password2}} <br>
            {{form.new_password2.errors}}
           
            <ul class="warning">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            
            <input type="submit" value="Reset my password">

           
        </form>
    </div>
</main>
</main>


{% endblock %}