{% extends "accounts/password_reset.html "%}

{% block page_title %}
<title>Reset Password</title>
{% endblock %}

{% block resetPassword %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}

	{% for message in messages%}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
    {% endfor %}
	
	<label for="id_new_password1">{{form.new_password1.label}}</label>
	{% if form.new_password1.errors %}
		<span class="class-error-ancre" style="display: none;"></span>
	{% endif %}
	{{form.new_password1}} <br>
	{{form.new_password1.errors}}
   
	<ul class="warning">
		<li>Your password can’t be too similar to your other personal information.</li>
		<li>Your password must contain at least 8 characters.</li>
		<li>Your password can’t be a commonly used password.</li>
		<li>Your password can’t be entirely numeric.</li>
	</ul>

	<label for="id_new_password2">{{form.new_password2.label}}</label>
	{% if form.new_password2.errors %}
		<span class="class-error-ancre" style="display: none;"></span>
	{% endif %}
	{{form.new_password2}} <br>
	{{form.new_password2.errors}}

	<input type="Submit" name="Update Password">
	
</form>

{% endblock %}
